.announcement-card {
  cursor: pointer;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  background-color: var(--bg-button-active);
  border-radius: 4px;
  outline: 1px solid var(--bg-button);
  transition: outline var(--hover-trans-duration) var(--hover-trans-timing);
  overflow: hidden;
}

.announcement-card-latest {
  cursor: pointer;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  background-color: var(--bg-button-active);
  border-radius: 4px;
  outline: 1px solid var(--bg-button);
  transition: outline var(--hover-trans-duration) var(--hover-trans-timing);
  overflow: hidden;
}

.announcement-card:hover,
.announcement-card-latest:hover {
  outline: 2px solid var(--announcement-hover-color);
}

.announcement-card-image {
  width: 100%;
  height: 30vh;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
}

.announcement-card-meta {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: var(--mm-length);
}

.announcement-card-stats {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.announcement-card-category {
  font-size: var(--mm-length);
  font-weight: 700;
  line-height: var(--ml-length);
  background-color: transparent;
  margin: 0 var(--sl-length) 0 0;
}

.announcement-card-latest-field {
  font-size: 13px;
  line-height: 17px;
  height: 24px;
  background-color: var(--bg-latest-field);
  padding: 0 2px;
  margin: 2px var(--sl-length) 0 0;
  border: 3px solid var(--border-latest-field-color);
  border-radius: var(--ss-length);
}

.announcement-card-read-time {
  font-size: 14px;
  line-height: 26px;
  background-color: transparent;
}

.announcement-card-title {
  font-size: calc(var(--lm-length) - 1rem);
  background-color: transparent;
  margin: 0 0 var(--sl-length) 0
}

.announcement-card-authors {
  font-size: calc(var(--ms-length) + 3px);
  font-weight: 500;
  line-height: var(--ml-length);
  background-color: transparent;
}

.announcement-card-date {
  background-color: transparent;
}

@media screen and (min-width: 1266px) {
  .announcement-card {
    grid-column: span 1;
  }
}