@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

:root {
  font-family: Open Sans, sans-serif;
  font-size: 16px;

  --fg-primary: rgba(255, 255, 255);
  --fg-secondary: rgba(255, 255, 255, 0.6);
  --fg-disabled: rgba(255, 255, 255, 30%);

  --bg-primary: rgb(18, 18, 18);
  --bg-primary-disabled: rgb(18, 18, 18, 30%);
  --bg-secondary: rgb(24, 24, 24);
  --bg-secondary-disabled: rgb(24, 24, 24, 30%);
  --bg-active: rgb(87, 87, 87);
  --bg-active-secondary: rgb(51, 51, 51);

  --bg-textbox: rgb(43, 43, 43);
  --bg-textbox-disabled: rgba(43, 43, 43, .3);
  --bg-sidebar: rgb(0, 0, 0);

  --bg-hover: rgba(255, 255, 255, .1);

  --active-border: rgb(0, 0, 0);


  /* Button */
  --fg-button: rgb(255, 255, 255);
  --bg-button: rgb(29, 185, 84);
  --bg-button-active: rgba(29, 185, 84, 0.8);
  --bg-button-hover: rgb(26, 197, 100);
  --bg-button-disabled: rgba(29, 185, 84, 30%);
  --fg-button-secondary: rgb(255, 255, 255);
  --bg-button-secondary-active: rgba(97, 207, 136, 28%);
  --bg-button-secondary-hover: rgba(97, 207, 136, 18%);
  --bg-button-secondary-disabled: rgba(97, 207, 136, 30%);

  /* Switch */
  --switch-state-change-duration: .15s;
  --switch-state-change-timing: cubic-bezier(0, 0, 0.39, 0.64);

  /* Alert */
  --alert-error-outline: rgb(245, 34, 38);
  --alert-error-bg: rgba(245, 34, 38, 60%);

  /* Sidebar */
  --bg-sidebar: rgb(0, 0, 0);
  --fg-sidebar: rgb(255, 255, 255);

  /* Homework list bullet */
  --bg-bullet-1: #DF1515;
  --bg-bullet-2: var(--bg-button);
  --bg-bullet-3: #3599FC;

  /* Webkit scroller */
  --thumb: rgba(255, 255, 255, .1);
  --thumb-hover: rgba(255, 255, 255, .1);
  --thumb-active: rgba(255, 255, 255, .3);
  --track: rgb(17, 15, 15);

  /* Modals */
  --bg-modal: rgb(40, 40, 40);
  --bg-modal-secondary: rgb(24, 24, 24);
  --bg-modal-overlay: rgba(0, 0, 0, 50%);
  --modal-box-shadow: rgb(0, 0, 0);

  /* Announcement card */
  --announcement-hover-color: rgb(79, 242, 44);

  /* Latest announcement field */
  --bg-latest-field: rgba(55, 65, 81, 1);
  --border-latest-field-color: rgba(107, 114, 128, 1);

  /* Changelog modal */
  --fg-new-feature: rgb(29, 185, 84);
  --fg-fix: rgb(255, 166, 0);

  /* Lengths */
  --ss-length: .375rem;
  --sm-length: .625rem;
  --sl-length: .875rem;

  --ms-length: 1rem;
  --mm-length: 1.375rem;
  --ml-length: 1.75rem;

  --ls-length: 2.5rem;
  --lm-length: 3.5rem;
  --ll-length: 4.5rem;

  /* Transition */
  --thumb-hover-trans-duration: 5s;
  --hover-trans-timing: cubic-bezier(.4, 0, .2, 1);
  --hover-trans-duration: .15s;
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  max-height: 100%;
}

* {
  color: var(--fg-primary);
  background-color: var(--bg-primary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

#root {
  height: 100%;
  max-height: 100%;
}

/* Prevent electron from showing an orange outline when elements are in focus. */
:focus {
  outline: unset;
}

/* Webkit scroller styling */
::-webkit-scrollbar {
  height: 13px;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumb);
  transition: background-color var(--thumb-hover-trans-duration);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-hover);
}

::-webkit-scollbar-thumb:active {
  background-color: var(--thumb-active);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}