@import url(./global.css);

* {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
}

/* Util components START */
/* Button component START */
.button {
  user-select: none;
  cursor: pointer;
  color: var(--fg-button);
  background-color: var(--bg-button);
  border: 1px solid var(--bg-button);
  border-radius: 4px;
  transition: background-color var(--hover-trans-duration) ease-out;
}

.button:hover {
  background-color: var(--bg-button-hover);
  border-color: var(--bg-button-active);
}

.button:active {
  transform: scale(.99);
  background-color: var(--bg-button-active);
  border-color: var(--bg-button-active);
}

.button-secondary {
  user-select: none;
  font-weight: 300;
  cursor: pointer;
  color: var(--fg-button-secondary);
  background-color: transparent;
  border: 1px solid var(--bg-button);
  border-radius: 4px;
  transition: background-color var(--hover-trans-duration) ease-out;
}

.button-secondary:hover {
  background-color: var(--bg-button-secondary-hover);
  border-color: var(--bg-button);
}

.button-secondary:active {
  transform: scale(.99);
  background-color: var(--bg-secondary-active);
  border-color: var(--bg-button);
}

/* Button component END */

/* Homework view "Create Task" button START*/
.home-create-task-button {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 var(--sl-length) 0 var(--sl-length);
}

/* Homework view "Create Task" button END */

/* Dropdown START */
.dropdown {
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0 0 0 5px;
  color: var(--fg-primary);
  border-radius: 4px;
}

.dropdown-selection {
  margin: 10px 0 0 0;
  background-color: transparent;
}

.dropdown>.chevron {
  margin: 0 0 0 auto;
  width: 22px;
  color: var(--fg-primary);
  background-color: transparent;
}

.dropdown-menu {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-modal-secondary);
  border-radius: 4px;
  outline: 1px solid var(--active-border);
}

.dropdown-item {
  padding: 10px 0 10px 5px;
  background-color: var(--bg-modal-secondary);
  border-radius: 4px;
}

.dropdown-item:hover {
  background-color: var(--bg-modal);
}

.dropdown-icon {
  background-color: var(--bg-modal);
}

/* Dropdown END */
/* Switch START */
.switch-track-off {
  cursor: pointer;
  width: 40px;
  height: 23px;
  background-color: var(--fg-disabled);
  border-radius: 50px;
  transition: background-color var(--switch-state-change-duration) var(--switch-state-change-timing);
}

.switch-handle-off {
  width: 22px;
  height: 21px;
  background-color: var(--fg-primary);
  border-radius: 100px;
  margin: 1px 0 0 0px;
  transition: margin var(--switch-state-change-duration) var(--switch-state-change-timing);
}

.switch-track-on {
  cursor: pointer;
  width: 40px;
  height: 23px;
  background-color: #3BA55D;
  border-radius: 50px;
  transition: background-color var(--switch-state-change-duration) var(--switch-state-change-timing);
}

.switch-handle-on {
  width: 22px;
  height: 21px;
  background-color: var(--fg-primary);
  border-radius: 100px;
  margin: 1px 0 0 19px;
  transition: margin var(--switch-state-change-duration) var(--switch-state-change-timing);
}

/* Switch END */
/* Invert color of calendar icon */
::-webkit-calendar-picker-indicator {
  filter: invert();
  cursor: pointer;
  margin: 0 0 0 -5px;
}

/* Modal START */
.modal-overlay {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: hsl(0, calc(1 * 0%), 0%);
  background-color: var(--bg-modal-overlay);
}

.modal {
  width: max-content;
  display: flex;
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

/* Modal END */

/* Alert START */
.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--fg-primary);
  background-color: var(--alert-error-bg);
  border: 1px solid var(--alert-error-outline);
  border-radius: 4px;
  margin: var(--ms-length) 0;
}

.icon-tabler-alert-circle {
  width: 6.5%;
  color: var(--alert-error-outline);
  background-color: transparent;
  margin: 0 0 0 var(--sm-length);
}

.alert-content {
  color: var(--fg-primary);
  background-color: transparent;
  margin: 0 0 0 var(--sm-length);
}

/* Alert END */
/* Util components END */

/* Container START */
.container {
  filter: blur(0);
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Container END */

/* Sidebar START */
.sidebar {
  user-select: none;
  height: 100%;
  max-height: 100%;
  background-color: var(--bg-sidebar);
  color: var(--fg-sidebar);
  padding: 0 var(--ms-length) 0 var(--ms-length);
}

#application-name {
  margin: var(--sm-length) 0 0 0;
  font-weight: normal;
  background-color: var(--bg-sidebar);
}

#application-name>sup {
  font-size: 17px;
  background-color: var(--bg-sidebar);
}

.sidebar-list {
  list-style: none;
  background-color: var(--bg-sidebar);
  margin: var(--ms-length) 0 0 0;
}

.sidebar-list-item {
  background-color: var(--bg-sidebar);
  padding: var(--ms-length) var(--ms-length) var(--ms-length) var(--ms-length);
  color: var(--fg-secondary);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.sidebar-list-item:hover {
  color: var(--fg-primary);
}

.sidebar-item-active {
  background-color: var(--bg-active);
  box-shadow: 0 0 5px #000;
  color: var(--fg-primary);
}

/* Sidebar END */

/* View header START */
.view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 calc(var(--ms-length) + 5px) 0;
  border-bottom: 1px solid var(--fg-secondary);
}

.view-header-title {
  font-weight: normal;
}

.view-header-children {
  display: flex;
  height: 100%;
  max-height: 100%;
}

/* View header END */

/* Home view */
/* Homework START */
.home-homework {
  user-select: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--ms-length) + 5px) var(--ms-length) 0 var(--ms-length);
}

.home-homework-list {
  height: 100%;
  max-height: 100%;
  padding: 0 var(--ms-length) 0 0;
  margin: calc(var(--ms-length) + 5px) 0 0 0;
  overflow-y: scroll;
}

.home-homework-list-item {
  user-select: none;
  cursor: pointer;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  border-radius: 4px;
}

.home-homework-list-item:hover {
  background-color: var(--bg-hover);
}

.home-homework-list-item-left-column {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-homework-list-item-bull {
  background: transparent;
  font-size: 60px;
  line-height: 40%;
}

.home-homework-list-item-center-column {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 var(--ss-length);
}

.home-homework-list-item-top-line {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.home-homework-list-item-title {
  background: transparent;
  width: fit-content;
}

.home-homework-list-item-bottom-line {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home-homework-list-item-subject {
  background: transparent;
  width: fit-content;
  font-size: 14px;
}

.home-homework-list-item-right-column {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-homework-list-item-date {
  background: transparent;
  width: fit-content;
  margin: 0 var(--ss-length) 0 auto;
}

/* Homework END */
/* Home view END */

/* Announcements view START */
.announcements {
  user-select: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--ms-length) + 5px) var(--ms-length) 0 var(--ms-length);
}

.announcements>h2 {
  margin: 0 0 var(--mm-length) 0;
}

.announcements-header-divider {
  margin: 0 0 var(--sl-length) 0;
  border-bottom: 1px solid var(--fg-secondary);
}

.announcements-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  gap: var(--ml-length);
}

.announcements-card-container {
  width: 100%;
  height: 100%;


  padding: var(--ml-length) 10% var(--ml-length) 10%;
  overflow-y: scroll;
  /* border: 1px solid yellow; */
}

/* Announcement card START */
.announcement-card {
  cursor: pointer;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  background-color: var(--bg-button-active);
  border-radius: 4px;
  outline: 1px solid var(--bg-button);
  transition: outline var(--hover-trans-duration) var(--hover-trans-timing);
  overflow: hidden;
}

.announcement-card-latest {
  cursor: pointer;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  background-color: var(--bg-button-active);
  border-radius: 4px;
  outline: 1px solid var(--bg-button);
  transition: outline var(--hover-trans-duration) var(--hover-trans-timing);
  overflow: hidden;
}

.announcement-card:hover,
.announcement-card-latest:hover {
  outline: 2px solid var(--announcement-hover-color);
}

.announcement-card-image {
  width: 100%;
  height: 30vh;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
}

.announcement-card-meta {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: var(--mm-length);
}

.announcement-card-stats {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.announcement-card-category {
  font-size: var(--mm-length);
  font-weight: 700;
  line-height: var(--ml-length);
  background-color: transparent;
  margin: 0 var(--sl-length) 0 0;
}

.announcement-card-latest-field {
  font-size: 13px;
  line-height: 17px;
  height: 24px;
  background-color: var(--bg-latest-field);
  padding: 0 2px;
  margin: 2px var(--sl-length) 0 0;
  border: 3px solid var(--border-latest-field-color);
  border-radius: var(--ss-length);
}

.announcement-card-read-time {
  font-size: 14px;
  line-height: 26px;
  background-color: transparent;
}

.announcement-card-title {
  font-size: calc(var(--lm-length) - 1rem);
  background-color: transparent;
  margin: 0 0 var(--sl-length) 0
}

.announcement-card-authors {
  font-size: calc(var(--ms-length) + 3px);
  font-weight: 500;
  line-height: var(--ml-length);
  background-color: transparent;
}

.announcement-card-date {
  background-color: transparent;
}

/* Announcement card END */
/* Announcements view END */

/* Settings view START */
.settings {
  user-select: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--ms-length) + 5px) var(--ms-length) 0 var(--ms-length);
}

.settings-header-divider {
  border-bottom: 1px solid var(--fg-secondary);
}

.settings-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.settings-category-list {
  width: 300px;
  margin: var(--ml-length) 0 0 0;
}

.settings-category-list-item {
  cursor: pointer;
  font-weight: 500;
  padding: 15px 15px 15px 15px;
  margin: 0 0 1.25rem 0;
  background-color: var(--bg-textbox);
  border-radius: 4px;
  outline: 2px solid transparent;
  transition: outline 200ms var(--hover-trans-timing);
}

.settings-category-list-item.active {
  background-color: var(--bg-button);
}

.settings-category-list-item:hover {
  outline: 2px solid var(--bg-button);
}

.settings-category-list-item.active:hover {
  outline: 2px solid transparent;
}

.settings-content {
  width: 100%;
  height: 100%;
  margin: 0 0 0 1.25rem;
  border-left: 1px solid var(--fg-disabled);
}

.setting {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--ml-length) 0;
  margin: var(--ml-length) 0 0 var(--ls-length);
  border-bottom: 1px solid var(--fg-disabled);
}

.setting-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
}

.setting-description {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0 0 0;
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about {
  margin: 0 0 0 5%;
}


.header {
  display: flex;
  flex-direction: row;
}

.about-logo {
  object-fit: contain;
}

.title-and-version {
  margin: 6px 0 0 20px;
}

.about-title {
  font-weight: normal;
}

.about-version {
  display: inline;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: .7px;
  margin: 0 0 0 3px;
  transition: color var(--hover-trans-duration) var(--hover-trans-timing);
}

.about-version:hover {
  color: var(--fg-secondary);
}

.license {
  letter-spacing: .7px;
  margin: var(--ls-length) 0 0 0;
}

.third-party-licenses {
  cursor: pointer;
  letter-spacing: .7px;
  display: inline-block;
  margin: var(--ml-length) 0 0 0;
  transition: color var(--hover-trans-duration) var(--hover-trans-timing);
}

.third-party-licenses:hover {
  color: var(--fg-secondary);
}

/* Settings view END */

/* Welcome view START */
.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.welcome-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
}

.welcome-header {
  padding: 0 0 var(--ml-length) 0;
}

.welcome-title {
  font-weight: normal;
}

.welcome-subtitle {
  font-weight: normal;
}

.welcome-input {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.welcome-input>label {
  text-align: left;
  margin: 0 0 3px 0;
}

.welcome-subject-textarea {
  font-family: Open Sans;
  font-size: 16px;
  resize: none;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  background-color: var(--bg-textbox);
  padding: var(--ss-length);
  border: none;
  border-radius: 4px;
  outline: 1px solid var(--bg-textbox);
  transition: outline var(--hover-trans-duration) var(--hover-trans-timing);
}

.welcome-subject-textarea:focus {
  outline: 1px solid var(--bg-button);
}

.welcome-textarea-alt {
  font-weight: normal;
  color: var(--fg-secondary);
  margin: 3px 0 0 0;
}

.welcome-btn {
  text-align: center;
  padding: 5% 0 0 0;
  margin: var(--ms-length) 0 0 0;
}

/* Welcome view END */

/* Error view START */
.error-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2000;
}

.error-view-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1% 3%;
}

.error-view-header {
  padding: 0 0 var(--ms-length) 0;
}

.error-view-title {
  font-weight: normal;
  margin: 0 0 0 0;
}

.error-view-subtitle {
  font-weight: normal;
}

.error-view-relaunch-button {
  font-size: 14px;
  padding: var(--sl-length) var(--ml-length);
  margin: 0 auto 0 auto;
}

/* Error view END */
/* Create new Task Modal START */
.create-task-container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-secondary);
  margin: var(--sm-length) var(--ml-length) var(--ml-length) var(--ml-length);
}

.create-task-header {
  font-size: 22px;
  font-weight: normal;
  background-color: var(--bg-secondary);
  margin: 0 0 var(--sm-length) 0;
}

.create-task-property-container {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-secondary);
  margin: 0 0 var(--sm-length) 0;
}

.create-task-title {
  font-family: Open Sans;
  font-size: 16px;
  padding: 3px;
  margin: 0 var(--ss-length) 0 0;
  border: none;
  border-radius: 4px;
}

.create-task-datepicker {
  font-family: Open Sans;
  font-size: 16px;
  padding: 3px;
  margin: 0 var(--ss-length) 0 0;
  border: none;
  border-radius: 4px;
}

.create-task-prio {
  margin: 0 var(--ss-length) 0 0;
}

.create-task-content {
  font-family: Open Sans;
  font-size: 16px;
  min-height: 50px;
  max-height: 250px;
  width: 100%;
  padding: 5px;
  margin: 0 0 var(--ss-length) 0;
  border: none;
  border-radius: 4px;
  resize: vertical;
}

.create-task-btn-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-secondary);
}

.create-task-cancel-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 49%;
  height: 35px;
}

.create-task-create-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 49%;
  height: 35px;
}


/* Create new Task Modal END */
/* Task Modal START */
.task-container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-secondary);
  margin: var(--sm-length) var(--ml-length) var(--ml-length) var(--ml-length);
}

.task-title {
  font-size: 22px;
  font-weight: normal;
  width: 100%;
  padding: 5px 3px;
  margin: 5px 0 var(--sm-length) 0;
  border: none;
  border-radius: 4px;
}

.task-property-container {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-secondary);
  margin: 0 0 var(--sm-length) 0;
}

.task-datepicker {
  font-family: Open Sans;
  font-size: 16px;
  padding: 3px;
  margin: 0 var(--ss-length) 0 0;
  border: none;
  border-radius: 4px;
}

.task-prio {
  margin: 0 var(--ss-length) 0 0;
}

.task-content {
  font-family: Open Sans;
  font-size: 16px;
  min-height: 50px;
  max-height: 250px;
  width: 100%;
  padding: 5px;
  margin: 0 0 var(--ss-length) 0;
  border: none;
  border-radius: 4px;
  resize: vertical;
}

.task-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-secondary);
}

.task-cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 35px;
}

.task-create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 35px;
}

.task-update-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  margin: var(--sm-length) 0 0 0;
} 

/* Task Modal END */

/* Delete task modal START */
.delete-task-confirmation-modal {
  display: flex;
  flex-direction: column;
  padding: var(--ms-length);
  border-radius: 4px;
}

.delete-task-content {
  display: flex;
  flex-direction: column;
}

.delete-task-title {
  font-size: 24px;
  margin: 0 0 var(--ms-length) 0;
}

.delete-task-description {
  margin: 0 0 var(--ms-length) 0;
}

.delete-task-action-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: var(--ms-length) 0 0 0;
}

.delete-task-cancel-btn {
  padding: var(--ss-length) var(--ml-length);
  margin: 0 var(--ss-length) 0 0;
}

.delete-task-delete-btn {
  padding: var(--ss-length) var(--ml-length);
}

/* Delete task modal END */


/* Changelog modal START */
.changelog-modal {
  user-select: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 70%;
  background-color: var(--bg-modal);
  box-shadow: 0 0 5px var(--modal-box-shadow);
  border-radius: 4px;
  padding: var(--ms-length) var(--ml-length) var(--ms-length) var(--ml-length);
  z-index: 1001;
}

.changelog-modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.changelog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 0 var(--ms-length) 0;
  margin: 0 0 var(--ms-length) 0;
  border-bottom: 2px solid var(--fg-primary);
}

.changelog-heading {
  background-color: transparent;
}

.changelog-title {
  font-size: 24px;
  font-weight: normal;
  background-color: transparent;
}

.changelog-date {
  font-size: 13px;
  color: var(--fg-secondary);
  background-color: transparent;
}

.changelog-close-btn-container {
  background-color: transparent;
}

.changelog-close-btn {
  cursor: pointer;
  font-size: 24px;
  color: var(--bg-bullet-1);
  background-color: transparent;
}

.changelog-container {
  background-color: transparent;
}

.changelog-items {
  height: 100%;
  overflow-y: scroll;
  background-color: transparent;
}

.changelog-new-feature-container-title {
  font-weight: normal;
  color: var(--fg-new-feature);
  margin: 0 0 var(--ms-length) 0;
  background-color: transparent;
}

.changelog-fix-container-title {
  font-weight: normal;
  color: var(--fg-fix);
  margin: 0 0 var(--ms-length) 0;
  background-color: transparent;
}

.changelog-list {
  margin: 0 0 0 var(--mm-length);
  background-color: transparent;
}

.changelog-item {
  margin: var(--ms-length) 0;
  background-color: transparent;
}

.changelog-list-item {
  background-color: transparent;
}

.changelog-list-item::marker {
  color: var(--fg-secondary);
}

.changelog-list-item-name {
  font-weight: 500;
  background-color: transparent;
}

.changelog-list-item-description {
  background-color: transparent;
}

/* Changelog modal END */

/* TaskState colors START */
.red {
  color: var(--bg-bullet-1);
}

.green {
  color: var(--bg-bullet-2);
}

.blue {
  color: var(--bg-bullet-3);
}

/* TaskState colors END */

/* Media queries START */
@media screen and (min-width: 1266px) {
  .announcement-card {
    grid-column: span 1;
  }
}

@media screen and (min-height: 700px) {

  .create-task-content,
  .task-content {
    max-height: 400px;
    height: 340px;
  }
}

@media screen and (min-height: 800px) {

  .create-task-content,
  .task-content {
    max-height: 600px;
    height: 340px;
  }
}

@media screen and (min-height: 900px) {

  .create-task-content,
  .task-content {
    max-height: 700px;
    height: 340px;
  }
}

/* Media queries END */