@import url(./global-values.css);

* {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
}

/* Container START */
.container {
  filter: blur(0);
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-blur {
  filter: blur(3px);
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-title {
  font-weight: normal;
}
/* Container END */

/* Sidebar START */
.sidebar {
  user-select: none;
  height: 100%;
  max-height: 100%;
  background-color: var(--bg-sidebar);
  color: var(--fg-sidebar);
  padding: 0 var(--ms-length) 0 var(--ms-length);
}

#application-name {
  margin: var(--sm-length) 0 0 0;
  font-weight: normal;
  background-color: var(--bg-sidebar);
}

#application-name > sup {
  font-size: 17px;
  background-color: var(--bg-sidebar);
}

.sidebar-list {
  list-style: none;
  background-color: var(--bg-sidebar);
  margin: var(--ms-length) 0 0 0;
}

.sidebar-list-item {
  background-color: var(--bg-sidebar);
  padding: var(--ms-length) var(--ms-length) var(--ms-length) var(--ms-length);
  color: var(--fg-secondary);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.sidebar-list-item:hover {
  color: var(--fg-primary);
}

.sidebar-item-active {
  background-color: var(--bg-active);
  box-shadow: 0 0 5px #000;
  color: var(--fg-primary);
}
/* Sidebar END */

/* Home view */
/* Homework START */
.home-homework {
  user-select: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--ms-length) + 10px) var(--ms-length) 0 var(--ms-length);
}
 
.home-homework > ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0 0 var(--ms-length) 0;
  border-bottom: 1px solid var(--fg-secondary);
}

.home-homework > ul > a  {
  margin: var(--ms-length) var(--ss-length) var(--ms-length) var(--ss-length);
}

.home-homework-list {
  height: 100%;
  max-height: 100%;
  padding: 0 var(--ms-length) 0 0;
  overflow-y: scroll;
}

.home-homework-list-item {
  user-select: none;
  cursor: pointer;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  border-radius: 4px;
}

.home-homework-list-item:hover {
  background-color: var(--bg-hover);
}

.home-homework-list-item-left-column {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-homework-list-item-bull {
  background: transparent;
  font-size: 60px;
  line-height: 40%;
  margin: -10px 0 0 0;
}

.home-homework-list-item-center-column {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 var(--ss-length);
}

.home-homework-list-item-top-line {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.home-homework-list-item-title {
  background: transparent;
  width: fit-content;
}

.home-homework-list-item-bottom-line {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home-homework-list-item-subject {
  background: transparent;
  width: fit-content;
  font-size: 14px;
}

.home-homework-list-item-right-column {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-homework-list-item-date {
  background: transparent;
  width: fit-content;
  margin: 0 var(--ss-length) 0 auto;
}
/* Homework END */

/* Timeframe selector START */
.timeframe-selector {
  list-style: none;
  user-select: none;
  width: 100%;
  text-align: center;
  padding: var(--ss-length) var(--ml-length) var(--ss-length) var(--ml-length);
  cursor: pointer;
  border: 1px solid var(--bg-button);
  border-radius: 4px;
  transition: background-color var(--hover-trans-duration) ease-out;
}

.timeframe-selector:hover {
  background-color: var(--bg-button-secondary-hover);
}

.timeframe-selector-active {
  background-color: var(--bg-button);
}

.timeframe-selector-active:hover {
  background-color: var(--bg-button-hover);
  border-color: var(--bg-button-hover);
}

.timeframe-selector-active > a {
  background-color: var(--bg-button);
  transition: background-color var(--hover-trans-duration) ease-out;
}
/* Timeframe selector END */
/* Home view END */

/* Announcements view START */
.announcements {
  user-select: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--ms-length) + 10px) var(--ms-length) 0 var(--ms-length);
}

.announcements > h2 {
  margin: 0 0 var(--mm-length) 0;
}

.announcements-header-divider {
  margin: 0 0 var(--sl-length) 0;
  border-bottom: 1px solid var(--fg-secondary);
}

.announcements-card-container {
  height: 100%;
  display: grid;
  gap: var(--ml-length);

  padding: var(--ml-length) 10% 0 10%;
  border: 1px solid yellow;
}
/* Announcement card START */
/* TODO: add .announcement-card */

.announcement-card {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  background-color: #171E2C;
  border: 1px solid red;
}

.announcement-card-image {
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 35%;
  max-height: 35%;
  object-fit: cover;
}

.announcement-card-meta {
  display: flex;
  flex-direction: column;
  padding: var(--ml-length) var(--mm-length) var(--ml-length) var(--mm-length);
}

.announcement-card-stats {
  display: flex;
  flex-direction: row;
}

.announcement-card-category {
  font-size: var(--mm-length);
  font-weight: 700;
  line-height: var(--ml-length);
  margin: 0 var(--sl-length) 0 0;
}

.announcement-card-latest-field {
  font-size: 13px;
  line-height: 17px;
  height: 24px;
  background-color: var(--bg-latest-field);
  margin: 2px var(--sl-length) 0 0;
  border: 3px solid var(--border-latest-field-color);
  border-radius: var(--ss-length);
}

.announcement-card-read-time {
  font-size: 14px;
  line-height: 26px;
}

.announcement-card-title {
  font-size: calc(var(--lm-length) - 1rem);
  margin: 0 0 var(--sl-length) 0
}

.announcement-card-authors {
  font-size: calc(var(--ms-length) + 3px);
  font-weight: 500;
  line-height: var(--ml-length);
}
/* Announcement card END */
/* Announcements view END */



/* Modal START */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-modal-overlay);
  z-index: 1000;
}

.modal {
  user-select: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-modal);
  box-shadow: 0 0 5px var(--modal-box-shadow);
  border-radius: 4px;
  padding: 1% 2% 1% 2%;
  z-index: 1001;
}

.task-modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin:  0 0 1% 0;
  background-color: var(--bg-modal);
}

.task-header {
  border-radius: 4px;
  background-color: var(--bg-modal);
}

.task-title {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0 0 0 5px;
  margin: 0 0 1.5% 0;
  background-color: var(--bg-modal);
  transition: background-color var(--hover-trans-duration) ease-in-out;
}

.task-title:hover {
  outline: 1px solid var(--active-border);
}

.task-title:focus {
  outline: 1px solid var(--active-border);
  background-color: var(--bg-modal-secondary);
}

.task-property-container {
  height: 100%;
  background-color: var(--bg-modal);
  display: flex;
  flex-direction: row;
  margin: 0 0 2.5% 0; 
}

.task-due-date {
  cursor: pointer;
  font-size: 16px;
  font-family: Montserrat;
  width: 100%;
  padding: 0 0 0 5px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.task-priority {
  height: 100%;
  width: 100%;
  margin: 0 .5% 0 .5%;
}

.task-subject {
  width: 100%;
}

.task-content-container {
  height: 100%;
}

.task-content {
  font-size: 16px;
  font-family: Montserrat;
  width: 100%;
  padding: 5px;
  resize: vertical;
  min-height: 10em;
  max-height: 40em;
  border: none;
  border-radius: 4px;
  outline: none;
}

.task-content:focus {
  outline: 1px solid var(--active-border);
}

.create-task-modal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-modal);
}

.create-task-heading {
  background-color: var(--bg-modal);
  font-weight: normal;
  user-select: none;
  margin: 0 0 1.5% 0;
}

.create-task-property-container {
  height: 100%;
  background-color: var(--bg-modal);
  display: flex;
  flex-direction: row;
  margin: 0 0 2.5% 0;
}

.create-task-title {
  font-family: Montserrat;
  font-size: 18px;
  width: 50%;
  background-color: var(--bg-modal-secondary);
  padding: 0 0 0 5px;
  margin: 0 .5% 0 0;
  border: none;
  border-radius: 4px;
  outline: none;
}

.create-task-title:focus {
  outline: 1px solid var(--active-border);
}

.create-task-date {
  cursor: pointer;
  font-family: Montserrat;
  font-size: 16px;
  width: 25%;
  color: var(--fg-primary);
  background-color: var(--bg-modal-secondary);
  padding: 0 0 0 5px;
  margin: 0 .5% 0 0;
  border: none;
  border-radius: 4px;
}

/* Invert color of calendar icon */
::-webkit-calendar-picker-indicator {
  filter: invert();
  cursor: pointer;
  margin: 0 0 0 -5px;
}

::-webkit-datetime-edit {
  z-index: 10;
}

.create-task-date:focus {
  outline: none;
}

.create-task-priority {
  width: 25%;
  background-color: var(--bg-modal-secondary);
  margin: 0 .5% 0 0;
}

.create-task-subject {
  width: 25%;
  background-color: var(--bg-modal-secondary);
}

.create-task-content {
  font-family: Montserrat;
  font-size: 16px;  
  height: 25em;
  min-height: 10em;
  max-height: 40em;
  width: 100%;
  resize: vertical;
  background-color: var(--bg-modal-secondary);
  padding: 5px;
  margin: 0 0 1.6% 0;
  border: none;
  border-radius: 4px;
  outline: none;
}

.create-task-content:focus {
  outline: 1px solid var(--active-border);
}

.modal-button-container {
  background-color: transparent;
  display: flex;
  font-weight: row;
}

.cancel-task-button {
  margin: 0 1% 0 auto;
}

/* Button component START */
.button {
  user-select: none;
  height: 50%;
  padding: var(--ss-length) var(--ml-length) var(--ss-length) var(--ml-length);
  cursor: pointer;
  color: var(--fg-button);
  background-color: var(--bg-button);
  border: 1px solid var(--bg-button);
  border-radius: 4px;
  transition: background-color var(--hover-trans-duration) ease-out;
}

.button:hover {
  background-color: var(--bg-button-hover);
  border-color: var(--bg-button-active);
}

.button:active {
  transform: scale(.99);
  background-color: var(--bg-button-active);
  border-color: var(--bg-button-active);
}

.button-secondary {
  user-select: none;
  font-weight: 300;
  height: 50%;
  padding: var(--ss-length) var(--ml-length) var(--ss-length) var(--ml-length);
  cursor: pointer;
  color: var(--fg-button-secondary);
  background-color: transparent;
  border: 1px solid var(--bg-button);
  border-radius: 4px;
  transition: background-color var(--hover-trans-duration) ease-out;
}

.button-secondary:hover {
  background-color: var(--bg-button-secondary-hover);
  border-color: var(--bg-button);
}

.button-secondary:active {
  transform: scale(.99);
  background-color: var(--bg-secondary-active);
  border-color: var(--bg-button);
}
/* Button component END */

/* "Create Task" button START*/
.home-create-task-button {
  margin: var(--ms-length) 0 0 auto !important; /* TODO: this !important is currently used to override ".home-homework > ul > a". This behavior should be changed to not need !important in the future */
}
/* "Create Task" button END */

/* Dropdown START */
.dropdown {
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0 0 0 5px;
  color: var(--fg-primary);
  border-radius: 4px;
}

.dropdown-selection {
  margin: 12px 0 0 0;
  background-color: transparent;
}

.dropdown > .chevron {
  margin: 0 0 0 auto;
  width: 22px;
  color: var(--fg-primary);
  background-color: transparent;
}

.dropdown-menu {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-modal-secondary);
  border-radius: 4px;
  outline: 1px solid var(--active-border);
}

.dropdown-item {
  padding: 10px 0 10px 5px;
  background-color: var(--bg-modal-secondary);
  border-radius: 4px;
}

.dropdown-item:hover {
  background-color: var(--bg-modal);
}

.dropdown-icon {
  background-color: var(--bg-modal);
}

/* TaskState colors START */
.red {
  color: var(--bg-bullet-1);
}

.green {
  color: var(--bg-bullet-2);
}

.blue {
  color: var(--bg-bullet-3);
}
/* TaskState colors END */