.overlay {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: hsl(0, calc(1 * 0%), 0%);
  background-color: var(--bg-modal-overlay);
}

.task-modal {
  display: flex;
  flex-direction: column;
  width: 520px;
  padding: var(--ms-length);
  background-color: var(--bg-modal);
  border-radius: 4px;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 var(--ms-length) 0;
  background-color: transparent;
}

.modal-title {
  background-color: transparent;
}

.close-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.label {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.priority-subject-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

.input {
  font-family: Open Sans;
  font-size: 19px;
  font-weight: normal;
  width: 100%;
  padding: 5px 3px;
  margin: var(--ss-length) 0;
  border: none;
  border-radius: 4px;
}

.due-date {
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
  width: 49%;
}

.inline {
  width: 49%;
}

.textarea {
  resize: vertical;
  font-family: Open Sans;
  font-size: 19px;
  font-weight: normal;
  width: 100%;
  height: 120px;
  min-height: 65px;
  max-height: 130px;
  padding: 5px 3px;
  margin: var(--ss-length) 0 var(--sm-length) 0;
  border: none;
  border-radius: 4px;
}

.completion-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: var(--sm-length) var(--ms-length);
  margin: var(--ss-length) 0;
}