.settings-wrapper {
  user-select: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.settings-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.settings-sidebar {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--ms-length);
}

.settings-sidebar-list {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
  overflow-y: scroll;
}

.settings-sidebar-item {
  list-style-type: none;
  cursor: pointer;
  width: 100%;
  padding: var(--ms-length);
  margin: var(--ms-length) 0 0 0;
  background-color: var(--bg-textbox);
  border-radius: 4px;
}

.settings-sidebar-item.active {
  background-color: var(--bg-button);
}

.settings-content {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: flex-start;
}