.settings-category-list-item {
  cursor: pointer;
  font-weight: 500;
  padding: 15px 15px 15px 15px;
  margin: 0 0 1.25rem 0;
  background-color: var(--bg-textbox);
  border-radius: 4px;
  outline: 2px solid transparent;
  transition: outline 200ms var(--hover-trans-timing);
}

.settings-category-list-item.active {
  background-color: var(--bg-button);
}

.settings-category-list-item:hover {
  outline: 2px solid var(--bg-button);
}

.settings-category-list-item.active:hover {
  outline: 2px solid transparent;
}