.setting {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--ml-length) 0;
  margin: var(--ml-length) 0 0 var(--ls-length);
  border-bottom: 1px solid var(--fg-disabled);
}

.setting-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
}

.setting-description {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0 0 0;
}