.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about {
  margin: 0 0 0 5%;
}


.header {
  display: flex;
  flex-direction: row;
}

.about-logo {
  object-fit: contain;
}

.title-and-version {
  margin: 6px 0 0 20px;
}

.about-title {
  font-weight: normal;
}

.about-version {
  display: inline;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: .7px;
  margin: 0 0 0 3px;
  transition: color var(--hover-trans-duration) var(--hover-trans-timing);
}

.about-version:hover {
  color: var(--fg-secondary);
}

.license {
  letter-spacing: .7px;
  margin: var(--ls-length) 0 0 0;
}

.third-party-licenses {
  cursor: pointer;
  letter-spacing: .7px;
  display: inline-block;
  margin: var(--ml-length) 0 0 0;
  transition: color var(--hover-trans-duration) var(--hover-trans-timing);
}

.third-party-licenses:hover {
  color: var(--fg-secondary);
}