.changelog-item {
  margin: var(--ms-length) 0;
  background-color: transparent;
}

.changelog-list-item {
  background-color: transparent;
}

.changelog-list-item::marker {
  color: var(--fg-secondary);
}


.changelog-list-item-name > strong {
  font-weight: 700;
}